USE [AttendanceDB]
GO
/****** Object:  Table [dbo].[AttendanceLog]    Script Date: 4/14/2026 8:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLog](
	[StudentId] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[Section] [nvarchar](50) NULL,
	[SubjectName] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[TimeIn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMasterList]    Script Date: 4/14/2026 8:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMasterList](
	[FullName] [nvarchar](200) NULL,
	[SubjectName] [nvarchar](200) NULL,
	[Section] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/14/2026 8:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[AssignedSubject] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
